<div class="about-container">
  <div class="about-card">
    <span class="tag">// MANIFESTO & CONCEITO</span>
    <h1 class="title">SOBRE O SHIFTROOM</h1>
    
  
    <div class="content-block">
      <h3>01. Estrutura das Abas</h3>
      <p>
        Navegue pela <strong>Sala 01</strong> para visualizar o acervo dinâmico alimentado por curadoria digital . Acesse a <strong>Sala 02</strong> para enviar relatórios, registrar impressões ou solicitar o ajuste do espaço .
      </p>
    </div>

   <div class="content-block">
  <h3>02. Conceito </h3>
  <p>
    O Shiftroom é uma galeria digital de arte, parcialmente baseado no conceito de <strong>Ilusão de Deslocação</strong>.
    Inspirado pelo "Virtual Insanity" de Jamiroquai.
  </p>

  
 <div class="concept-gallery">
  <div class="concept-card">
    <img src="virtualinsanity1.png" alt="Virtual Insanity Frame 1" />
  </div>
  <div class="concept-card">
    <img src="virtualinsanity2.png" alt="Virtual Insanity Frame 2" />
  </div>
  <div class="concept-card">
    <img src="virtualinsanity3.png" alt="Virtual Insanity Frame 3" />
  </div>
</div>
  </div>
</div>

</div>